
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */